# Default values for envelope-game.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nodeEnv: "production"

image:
  name: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: envelope-game.local
      paths: 
        - /
      
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

istio:
  enabled: true
  host: envelope-game
  gateway:
    name: "istio-system/app-gateway"
    create: false

resources: 
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 200m
    memory: 300Mi
  

nodeSelector: {}

tolerations: []

affinity: {}

mysql:
  existingSecret: envelope-game-mysql
  db:
    name: envelope-game
    user: envelope-game
  initdbScriptsConfigMap: envelope-game-mysql-init
  replication:
    enabled: false
  master:
    resources: 
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 300m
        memory: 1024Mi
      
