version: '3.8'
services:
  node:
    build: .
    environment: 
      - NODE_ENV=development
      - DB_HOST=db
      - DB_USERNAME=root
      - DB_PASSWORD=root
    volumes: 
      - ./:/envelope-game/
    ports:
      - "3000:3000"
    restart: always
    command: "npm start"
  db:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=envelope-game
    volumes:
      - ./charts/envelope-game/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    expose:
      - "3306"
