#app {
    font-family: Arial, Helvetica, sans-serif;
}

.chairNotFilled {
    flex-flow: column wrap;
    justify-content: space-between
}

.chairNotFilled:hover {
    background: #ffffff;
    color: #ffffff;
  }

  .chairFilled {
    flex-flow: column wrap;
    justify-content: space-between;
}

.chairColumn {
    display: inline-block;
}

h1 {
    text-align: center;
    color: black;
    max-width: 500px;
    margin: auto;
}

h2{
    color: green;
    text-align: center;
    margin: auto;
}

p {
    color: black;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

div.card {
    margin: 0 auto;
    width: 50%;
}

div.facilitatorControl {
    color: black;
    margin: auto;
    border: 1px solid black;
}

div.game {
    color: black;
    margin: auto;
    border: 1px solid black;
}

div.area {

}

div.area2 {
    
}

.CardImgOverlay {
    padding: 0% !important;
}

form {
    color: black;
    margin: auto;
}
