#app {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    font-family:"Arial";
}
.chairNotFilled {
    flex-flow: column wrap;
    justify-content: space-between
}

.chairNotFilled:hover {
    background: #ffffff;
    color: #ffffff;
  }

  .chairFilled {
    flex-flow: column wrap;
    justify-content: space-between;
}

.chairColumn {
    display: inline-block;
}

h1 {
    text-align: center;
    color: black;
    max-width: 500px;
    margin: auto;
}

h2{
    color: green;
    text-align: center;
    margin: auto;
}

p {
    color: black;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

div.card {
    margin: 0 auto;
    width: 50%;
}

div.facilitatorControl {
    color: black;
    margin: auto;
    border: 1px solid black;
}

div.game {
    color: black;
    margin: auto;
    border: 1px solid black;
}

.CardImgOverlay {
    padding: 0% !important;
}

form {
    color: black;
    margin: auto;
}
.playIcon{
    font-size: 30px !important;
    cursor: pointer;
}
.display-time{
    font-size:50px;
    display: block;
	height: 100%;
	font-family: "Gothic", "Futura", "Arial";
	opacity: .9;
	text-align: left;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 30px rgb(0, 200, 255);
}
.board-title{
    font-family:"arial";
    font-size:35px;
    font-weight:bold; 
    padding-top:20px;
}
.display-name{
    width:200px;
}
.display-name, .display-count{
    font-size:16px;
    font-weight:bold;
    display:block;
}
h5{
    text-align:center;
}
.player-stats{
    display:flex;
    justify-content: center;
}
.player-svg{
    background-image:url('assets/players.svg');
    width: 60px;
    display: block;
    height: 40px;
    background-repeat: no-repeat;
    text-align:center;
    margin-left:100px;
}
.env-open-svg{
    background-image:url('assets/envelope_open.svg');
    width: 40px;
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    text-align:center;
    margin-left:70px;
}
.env-ok-svg{
    background-image:url('assets/envelope_ok.svg');
    width: 40px;
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    text-align:center;
    margin-left:0px;
    margin-top:5px;
}
.batch-count-1{
   position: relative;
   left: -20px;
}
.batch-count-2{
    position: relative;
    left: 45px;
}

.modal-70w{
    width: 70vw !important;   
    max-width: 70vw !important;
}

.modal-90w{
    width: 90vw !important;   
    max-width: 90vw !important;
}